*{
    font-family: 'Courier New', Courier, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 40px;
    margin-left: 40%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    border-bottom: 5px solid #009;
}

.todo{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.todo-value{
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1em;
    flex-grow: 1;
    color: #009;
}

.todo:has(.todo-checkbox:checked)
{
    color: #555555;
    background: #eeeeee;
    text-decoration: line-through;
    order: 1;
}

@media only screen and (max-width: 1155px) {
    body{
        margin-left: 30%;
    }
}