@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

/* Animations */
/* 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

/* bg container */

.bgContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 77%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  animation: slideIn 1.5s ease-in-out;
}

h2.wlc {
  font-size: 35px;
  font-weight: 700;
  animation: slideIn 2s ease-in-out;
}

h1.title {
  font-size: 70px;
  font-weight: 900;
  animation: slideIn 2.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 90%;
  color: #ffffff;
  position: absolute;
  min-height: 90px;
  left: 30%;
  font-size: 1.5rem;
  top: 1%;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
}

.navbar .logo {
  font-weight: 500;
  font-size: 3rem;
  margin-left: -215%;
  color: #299454;
  animation: fadeIn 1.5s ease-in-out;
}

.navbar-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #333333;
  opacity: 0.7;
  width: 120%;
  border-radius: 40px;
  margin-left: -30%;
  animation: fadeIn 2s ease-in-out;
}

.navbar-links li {
  list-style: none;
  position: relative;
}

.navbar-links li a {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  animation: fadeIn 2.5s ease-in-out;
}

.navbar-links li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: #ffffff;
  transition: all 0.5s;
  border-radius: 30px;
}

.navbar-links li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: #ffffff;
  transition: all 0.5s;
  border-radius: 30px;
}

.navbar-links li a:hover::before,
.navbar-links li a:hover::after {
  width: 80%;
}

.navbar .btn {
  padding: 0.8rem 1.75rem;
  background-color: #299454;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
  margin-left: 25%;
  width: 100px;
  height: 50px;
  margin-top: 1rem;
  text-align: center;
  animation: fadeIn 3s ease-in-out;
}

.card {
  position: absolute;
  top: 92%;
  left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  text-align: center;
  animation: fadeIn 3s ease-in-out;
}

.card .c1,
.card .c2,
.card .c3,
.card .c4 {
  border-radius: 15px;
  padding: 10px;
  animation: scaleUp 2s ease-in-out;
}

.card .c1:hover,
.card .c2:hover,
.card .c3:hover,
.card .c4:hover {
  scale: 1.1;
}

.card h1 {
  color: #299454;
  font-size: 2.5rem;
  font-weight: 700;
}

.card p {
  color: #444444;
  line-height: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

/* About Page */

.about {
  margin-top: 10rem;
}

.about h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  animation: slideIn 2s ease-in-out;
}

.about-text-container {
  position: absolute;
  top: 135%;
  left: 5%;
  width: 90%;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: justify;
  line-height: 22px;
  animation: fadeIn 2s ease-in-out;
}
.image-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 60px 30px 30px 0;
  animation: fadedown 5s infinite;
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.about-text-container span {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 25%;
  color: #299454;
}

/* Destination */

.destination-container {
  margin-top: 10rem;
  animation: fadeIn 2s ease-in-out;
}

.destination-container .main-heading {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  animation: slideIn 2.5s ease-in-out;
}

.destinationCard {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  animation: fadeIn 2s ease-in-out;
}

.flex {
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex p {
  font-weight: 700;
  font-size: 1rem;
}

.day {
  color: #333333;
}

.btn {
  background-color: #299454;
  width: 7rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-left: 30px;
  margin-bottom: 20px;
  animation: scaleUp 2s ease-in-out;
}

.thingstodo {
  margin-top: 7rem;
  animation: fadeIn 2.5s ease-in-out;
}

.sub-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.thingstodo p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 400;
  color: #333333;
  margin-top: 1rem;
  animation: fadeIn 2s ease-in-out;
}

.thingstodo .imgs img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  animation: scaleUp 2s ease-in-out;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.slider-container h1 {
  font-size: 3rem;
  font-weight: 600;
}

.slider-container .slider {
  margin-top: 3rem;
  margin-bottom: 3rem;
  animation: slideIn 2.5s ease-in-out;
}

.threeCards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  padding: 10px;
}

.icon {
  font-size: 3rem;
  color: #299454;
}

.content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.content p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #444444;
}

.nextSection {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.oneSec span {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 10px;
}

.oneSec h2 {
  font-size: 4rem;
  font-weight: 600;
}

.seccontent {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 20px;
}

.seccontent .one,
.seccontent .two,
.seccontent .three {
  display: flex;
  gap: 20px;
}

.seccontent .one h5,
.seccontent .two h5,
.seccontent .three h5 {
  color: #333333;
  font-size: 1.3rem;
}

.seccontent .one p,
.seccontent .two p,
.seccontent .three p {
  color: #444444;
  font-size: 1rem;
}

.twoSec h3 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
}

.testimonials h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.testimonials .test1 {
  background-color: #299454;
}

.testimonials hr {
  margin-top: 30px;
}

.testCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5rem;
}

.testCards .c1 {
  border-radius: 10px;
}

/* footer section starts */
.footer-container {
  background-color: #0c331b;
  margin-top: 15rem;
  color: #ffffff;
  width: 100%;
  height: 420px;
  animation: slideIn 3s ease-in-out;
}

.Footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.Footer-section .sectionOne {
  padding: 10px;
  margin-top: 9rem;
}
.sectionOne .logo {
  font-weight: 500;
  font-size: 3rem;
  color: #299454;
}
.sectionOne .fText {
  line-height: 25px;
  font-size: 1rem;
  font-weight: 500;
}
.sectionOne .fIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 2rem;
  margin-top: 10px;
}
.Footer-section .sectionTwo {
  padding: 10px;
  margin-top: 9rem;
}
.sectionTwo ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.Footer-section .sectionThree {
  padding: 10px;
  margin-top: 9rem;
}
.sectionThree ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.Footer-section .sectionFour {
  padding: 10px;
  margin-top: 9rem;
}
.sectionFour ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.footer-container .copyRight {
  margin-top: 1rem;
  margin-left: 43%;
  font-size: 1rem;
  font-weight: 500;
}
.subscription {
  position: absolute;
  width: 850px;
  height: 300px;
  background-color: #299454;
  top: 430%;
  left: 20%;
  border-radius: 100px 20px 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.subscription p {
  font-size: 1.9rem;
  color: #ffffff;
  font-weight: 600;
}
.division {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.subscription .division input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.division input::placeholder {
  color: #777777;
  padding: 10px;
}
.division button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #0c331b;
  color: #ffffff;
}
/* footer section ends */
